<!doctype HTML>
<html>

<head>
    <title>Stock searcher</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">This is the group project for Group 7 for the course Programming in Python 2015 Spring.</p>
        </div>
    </footer>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

</html>
