{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Stock search</h1>
            <p>Input the ticker symbol of the stock you want to search (e.g. "GOOG")</p>
            {% if msg %}
            <div class="alert alert-danger" role="alert">{{ msg }}</div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="ticker" class="form-control" placeholder="GOOG" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
